html {
    background-color:  #bd9978;
    background-image: url(images/NOVA\ VESHTI\ BACKGROUND\ IMAGE\ NO\ BACKGROUND.png);
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: center;
    background-attachment: scroll;
    background-size: cover;
 
}

.container1 {  
 margin-left: 36%;
margin-right: 50%;}

.container2{
    position: absolute;
    top: 440px;
}

.container3{
position: absolute;
top: 512px;
left: 370px;
}

.container4{
    position: absolute;
    top: 500px;
    left: 1500px;
}

.container5{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    position: center;
    margin-left: 30%;
    margin-right: 30%;
}

.container6{
    position: absolute;
    margin-left: 20%;
    margin-top: 400px;
}

.container7{   
    position: absolute;
    margin-left: 55%;
    margin-top: 400px;

}

.container8{
    position: absolute;
    margin-left: 20%;
    margin-top: 800px;

}

.container9{
    position: absolute;
    margin-left: 55%;
    margin-top: 800px;


}